<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
 <!--call the avatar to fetch the current user's avatar -->
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
 <!-- use rails image_tag method to create an <img> -->
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>
<!-- determine if user has any contributions -->
 <%if @user.has_contributed?%>
<!-- display all user's posts and comments -->
 <h2>Posts</h2>
 <%= render @user.posts %>

 <h2>Comments</h2>
 <%= render @user.comments %>
<!-- statement made if user has not contributed -->
<% else %>
  <h2><%= @user.name %> has not submitted any post yet. </h2>
<% end %>
<!-- show list of user's favorites-->
<% if @user.has_favorites? %>
<h2> List of <%=@user.name%> 's favorites. </h2>
  <%= @user.favorites.each do |favorite| %>
  <%= render partial: 'users/favorite', locals: {post: favorite.post} %>
  <% end %>
<% end %>
